@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/*Colors*/
$color-black: #333333;
$color-darkgrey: #979797;
$color-lightgrey: #d9d9d9;
$color-lightergray: #E3E3E3;
$color-beige: #F5F5F2;
$color-darkorange: #F58220;
$color-lightorange: #FFA200;
$color-green: #04AE00;
$color-blue: #56819F;

* {box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Open Sans',sans-serif;
}

.container-fluid {
	width: 100%;
	margin: 0 auto;
  	max-width: 1200px;
  	background-color: $color-beige;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.topbar {
  	height: 50px;
  	background-color: #fff;
  	line-height: 50px;
  	padding: 0;
  	width: 100%;
  	max-width: 1200px;
  	position: fixed;
  	z-index: 0;
  	display: -webkit-flex;
	display: 		flex;
	-webkit-align-items: flex-end;
          justify-content: flex-end;
    flex: 100%;
    border: 1px solid $color-lightgrey;
    border-left: 1px solid $color-lightgrey;
}

#sidebar {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	display: -webkit-flex;
	display: 		flex;
	-webkit-align-items: flex-start;
          justify-content: flex-start;
    flex: 20%;
}

.hamburger {
	width: 15px;
	height: 12px;
	border: 0;
	margin-left: 15px;
	border-top: 3px solid #fff;
	background: transparent;
	position: relative;
	display: inline-block;
	cursor: pointer;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-top: 3px solid #fff;
		transform: translateY(2px);
	}
	&:after {
		transform: translateY(8px);
	}
}

.nav {
	background-color: $color-black;
  	height: 100%;
  	position: fixed;
  	width: 200px;
  	text-align: center;
  	padding: 0;
  	margin: 0;
  	list-style-type: none;
  	display: -webkit-flex;
	display: flex;
    flex: 20%;
	ul {
		margin: 0;
		padding: 0;
		float: right;
		list-style-type: none;
		margin-bottom: 15px;
		&:hover:before {
         		height: 50px;
    			border-left: 3px solid $color-darkorange;
    		}
	}
    ul li  {
         	display: inline-block;
         	position: relative;
         	height: 50px;
         	padding: 0 10px;
         	line-height: 50px;
         	min-width: 120px;
    }
    ul ul li {
       			display: flex;
       			justify-content: flex-start;
       			height: 50px;
         		line-height: 50px;
         		width: 180px;
         		&:hover {
         		background: $color-lightgrey;
         		color: #fff;
         		margin: 0 auto;
         		}
         		&:hover:before {
    				content: "";
    				position: absolute;
    				height: 40px;
    				width: 3px;
    				background-color: $color-darkorange;
    				margin: 0 auto;
    			}
    }
    ul ul li a  {
    			position: relative;
    			height: 50px;
    			min-width: 120px;
    			padding: 0 10px;
    			text-decoration: none;
            	color: $color-darkgrey;
            	display: block;
              	line-height: 50px;
                transition: all .3s ease-out; 
                text-align: center;
                &:hover {
                	color: #fff;
                } 
    }
    ul li h1  {
            	font-family: 'Indie Flower', cursive;
            	color: $color-beige;
            	font-size: 24px;
            	width: 100%;
            	height: 20px;
            	display: inline-block;
            	text-align: left;
            	float: left;
            	padding: 10 0px;
    }
    ul ul li svg {
    			height: 35px;
        		width: 35px;
        		display: inline-block;
        		fill: $color-darkgrey;
        		line-height: 50px;
        		padding: 0 10px;
               	transition: all .3s ease-out; 
               	position: relative;
               	float: left;
               	&:hover {
               		fill: #fff;
               	}
    }
    li ul   {
        		transform: scaleY(0);
        		transform-origin: 50% 0%;
        		transition: all .3s ease-out;
        		position: absolute;
        		margin: 0;
        		padding: 0;
        		float: right;
    }
}

.manager {
		color: $color-lightgrey;
		margin-top: 20px;
		padding: 15px;
		text-transform: uppercase;
}

.name {
	display: inline-block;
	height: 30px;
	position: relative;
	padding: 0 15px;
	&:after {
		content: "";
		position: absolute;
		width: 5px;
		height: 5px;
		background-color: green;
		border-radius: 50%;
		border: 3px solid green;
		left: 35px;
		bottom: 20px;
		display: block;
	}
	img {
		border-radius: 50%;
		height: 30px;
		width: 30px;
	}
}

.surname {
	color: $color-blue;
	display: inline-block;
}

.wallet {
		display: -webkit-flex;
		display: 		flex;
		-webkit-align-items: center;
          justify-content: flex-end;
 		height: 50px;
		border-left: 1 px solid $color-lightgrey;
 		svg {
 			height: 20px;
 			width: 20px;
 			display: inline-block;
 			path {
 				fill: $color-lightgrey;
  			}
  		}
 		h5 {
  	 		font-size: 22px;
  	 		text-weight: bold;
  	 		height: 30px;
  	 		display: inline-block;
  	 		color: $color-darkgrey;
  	 		padding: 5px;
  	 		margin-top: -20px;
  	 		margin-right: -5px;
  	 		margin-bottom: -20px;
  	 	}
}

.notification, .quit {
	@extend.wallet;
	border-left: 1px solid $color-lightgrey;
}

.notifications {
	height: 30px;
	position: relative;
	&:after {
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: $color-darkorange;
	border-radius: 50%;
	border: 3px solid $color-darkorange;
	left: 45px;
	bottom: 10px;
	display: block;
	}
}

.profile {
	height: 50px;
	border-left: 1px solid $color-lightgrey;
	h4 {
		display: inline-block;
		height: 30px;
		font-size: 15px;
		color: $color-blue;
  	 	padding: 5px;
  	 	margin-top: -70px;
  	 	margin-right: -10px;
  	}
  	svg {
 		height: 20px;
 		width: 20px;
 		display: inline-block;
 		path {
 				fill: $color-lightgrey;
  		}
  	}
}

.bluecircle {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $color-blue;
			position: absolute;
}

.orangecircle {
  			@extend.bluecircle;
  			background-color: $color-darkorange;
}

.ftd {
  	@extend.signups;
}

.greencircle {
  			@extend.bluecircle;
			background-color: $color-green;
}

.earned {
  		@extend.signups;
}

.generalstart, .linksstart, .bannersstart, .payouthisstart, .detailstastart, .formdatastart {
		border-bottom: 1px solid $color-lightgrey;
		h4 {
		height: 5vh;
		text-align: left;
		color: $color-darkgrey;
		padding-left: 10px;
		text-transform: uppercase;
	}
}

hr {
	color: $color-darkgrey;
	width: 950px;
}

.general {
	height: 130vh;
	background-color: #fff;
	margin-top: 70px;
	margin-left: 170px;
	margin-right: 20px;
	line-height: 50px;
	border: 1px solid $color-lightgrey;
	display: -webkit-flex;
  	display:         flex;
  	-webkit-align-items: center;
          align-items: center;
  	-webkit-justify-content: center;
          justify-content: center;
}

.links {
	@extend.general;
	height: 120vh;
}

#scroll-links {
	display: -webkit-flex;
  	display:         flex;
  	-webkit-align-items: center;
          align-items: center;
  		-webkit-justify-content: center;
          justify-content: center;
  	flex: 100%;
	padding: 5px;
	margin-bottom: 10px;
	table {
	 	font-size: 15px;
	 	margin: 10 auto;
	 	margin-left: 150px;
	 	width: 800px;
	 	tr {
	 	display: -webkit-flex;
  	display:         flex;
  	  		-webkit-justify-content: space-between;
          justify-content: space-between;
         width: 700px;
         border-top: 1px solid $color-lightgrey;
         border-bottom: 1px solid $color-lightgrey;
			&:hover {
			background-color: $color-lightgrey;
			}
	 	}
	 	td { 
	 		text-align: left;
	 		vertical-align: inherit;
	 		color: $color-darkgrey;
	 		display: -webkit-flex;
  	display:         flex;
  		-webkit-align-items: space-between;
          align-items: space-between;
	 		a { 
	 			text-align: left;
	 			text-decoration: none;
	 			color: $color-blue;
			&:hover, &:after {
				content: "";
				position: absolute;
				top: 10px;
				left: 30px;
				.connect {
					visibility: visible;
			}	}
			}
	 	}
	}
}

.banners {
		@extend.general;
		height: 85vh;
		display: none;
		&.show {display: flex;}
}

#scroll-banners {
	@extend#scroll-links;
}

#scroll-payout {
	@extend#scroll-links;
	table {
		td {
			padding: 5px;
			font-size: 12px;
			text-align: center;
			width: 10wd;
		}
		th {
			padding: 5px;
			width: 10wd;
			&:hover {
				background-color: $color-beige;
				color: black;
			}
			a {
			text-decoration: none;
			color: $color-darkgrey;
			font-size: 12px;
			width: 10wd;
			text-align: center;
			&:hover {
				background-color: $color-beige;
				color: black;
			}
			}
		}
		tr {
		 	color: black;
		 	height: 8vh;
		 	width: 920px;
		 	margin-left: -120px;
		 	padding: 0;
		 	border-top: none;
		}
	}

}

#scroll-detailsta {
	@extend#scroll-links;
	table {
		td {
			padding: 5px;
			font-size: 12px;
			text-align: center;
			width: 10wd;
		}
		th {
			padding: 5px;
			width: 10wd;
			&:hover {
				background-color: $color-beige;
				color: black;
			}
			a {
			text-decoration: none;
			color: $color-darkgrey;
			font-size: 12px;
			width: 10wd;
			text-align: center;
			&:hover {
				background-color: $color-beige;
				color: black;
			}
			}
		}
		tr {
		 	color: black;
		 	height: 8vh;
		 	width: 920px;
		 	margin-left: -120px;
		 	padding: 0;
		 	border-top: none;
		}
	}
}

.detailsta {
	@extend.general;
	display: none;
	&.show {
	display: flex;}
}

.payouthis {
	height: 120vh;
	@extend.general;
	display: none;
	&.show {display: flex;}
}

.chart {
	display: -webkit-flex;
  	display:         flex;
  	-webkit-align-items: center;
          align-items: center;
  	-webkit-justify-content: center;
          justify-content: center;
	flex: 100%;
	padding: 10px;
	margin-bottom: 5px;
}

.bannersnav.show {
	display: block;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 300px;
}

ul.pagination li {
	display: inline;
	}

ul.pagination li a {
    color: $color-blue;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: $color-lightgrey;
    color: $color-darkgrey;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
		background-color: #fff;
}

.formdata {
	@extend.general;
	height: 110vh;
	background-color: #fff;
	display: none;
	&.show {display: flex;}
		h3 {
			color: $color-darkgrey;
			text-align: left;
		}
}
.field {
	width: 800px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"] {
  padding: 5px 10px;
  font-size: 20px;
  font-color: black;
  background-color: #fff;
  border-radius: 5px;
  color: $color-darkgrey;
  outline: none;
}

label {
	color: $color-darkgrey;
	font-weight: bold;
	display: block;
	width: 450px;
	margin-left: 200px;
	display: -webkit-flex;
  	display:         flex;
  	-webkit-align-items: center;
          align-items: center;
  	-webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.buttons {
	display: -webkit-flex;
  	display:         flex;
  	-webkit-align-items: center;
          align-items: center;
  	-webkit-justify-content: center;
          justify-content: center;
	flex: 100%;
	padding: 5px;
	margin-bottom: 5px;
}

.field {
	button {
	background-color: $color-darkorange;
	color: #fff;
  	font-size: 16px;
  	padding: 10px;
  	text-align: center;
  	border-radius: 7%;
  	border: $color-darkorange;
  		&:hover {
  				background-color: $color-lightorange;
  		}
  	}
}

.overlay {
  	position: fixed;
  	top: 0;
 	left: 0;
  	z-index: 9999;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(0,0,0,0.5);
  	justify-content: center;
  	align-items: center;
  	overflow: auto;
  	padding: 30px;
  	display: none;
  	&.show {
  		display: flex;
  	}
}

.overlay::webkit-scrollbar {
  display: none;
}

.modal {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 30px;
  display: none;
}

.modal.show {
  display: block;
}

.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}

.earning {
	display: -webkit-flex;
  	display:         flex;
  	-webkit-align-items: center;
          align-items: center;
  	-webkit-justify-content: center;
          justify-content: center;
	flex: 100%;
	padding: 5px;
	margin-bottom: 5px;
	h4 {
		text-align: left;
		height: 20px;
		color: $color-darkgrey;
	}
}

.timeline {
	display: -webkit-flex;
  	display:         flex;
  	-webkit-align-items: center;
          align-items: center;
  	-webkit-justify-content: center;
          justify-content: center;
	flex: 100%;
	padding: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $color-lightgrey;
	table {
		border: 1px solid $color-lightgrey;
 		display: -webkit-flex;
 		display:         flex;
 		-webkit-align-items: center;
          align-items: center;
  	-webkit-justify-content: space-between;
          justify-content: space-between;
  		border-radius: 8px;
 		height: 50px;
	 	font-size: 16px;
	 	td {
	 		padding-bottom: -5px;
	 	}
	}
}

.calendar {
	border-left: 1px solid $color-lightgrey;
	height: 35px;
	margin-left: 20px;
	margin-bottom: 15px;
}

.visit {
	display: -webkit-flex;
  	display:         flex;
  	-webkit-align-items: center;
          align-items: center;
  	-webkit-justify-content: center;
          justify-content: center;
	flex: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

.calendar2 {
			svg {
				height: 20px;
				margin-left: 80px;
				margin-top: 20px;
				path {
					fill: black;
			}
		}
}

.refresh {
		width: 45px;
  		height: 45px;
  		border-radius: 30%;
  		background-color: $color-darkorange;
  		position: relative;
  		left: 40px;
  		display: inline-block;
  		&:hover {
  				background-color: $color-lightorange;
  		}
  		svg {
  			path {
  				fill: #fff;
  			}
  		}
}

.signups {
  		font-size: 20px;
		padding: 15px;
		text-align: center;
		color: $color-darkgrey;
		display: inline-block;
		border-radius: 7%;
		background-color: #fff;
		border: 1px #fff;
		position: relative;
  		&:hover {
  			  background-color: $color-beige;
  		}
}

.bluecircle {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $color-blue;
			position: absolute;
			margin-left: -13px;
			margin-right: 70px;
			margin-top: -18px;
}

.orangecircle {
  			@extend.bluecircle;
  			background-color: $color-darkorange;
}

.ftd {
  	@extend.signups;
}

.greencircle {
  			@extend.bluecircle;
			background-color: $color-green;
}

.earned {
  		@extend.signups;
}

[class*='col-'] {
	min-height: 1px;
	display: inline-block;
	text-align: center;
	width: 100%;
}

.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}
.col-offset-12 {margin-left: 100%;}

.addnew {
  		background-color: $color-darkorange;
  		font-size: 20px;
  		padding: 15px;
  		color: $color-beige;
  		border-radius: 7%;
  		border: $color-darkorange;
  		margin: 20 80px;
  		height: 8vh;
  		cursor: pointer;
  		&:hover {
  				background-color: $color-lightorange;
  		}
}

.addnew2 {
	@extend.addnew;
}

.trash svg {
		height: 20px;
		width: 20px;
		path {
			fill: $color-darkgrey;
		}

}	

.connect {
	padding-right: 40px;
	svg {
		height: 20px;
		width: 20px;
		path {
			fill: $color-darkorange;
		}
	}
}

#visittab  {
		margin-top: 20px;
		margin-bottom: 15px;
		display: -webkit-flex;
		display: 		flex;
		-webkit-align-items: center;
         justify-content: center;
        border-collapse: separate;
        border-spacing: 50px 2px;
        width: 100%;
        height: 12vh;
        td {
        	width: 350px;
        	margin: 0 20px;
			padding: 5px;
			text-align: left;
			color: $color-darkgrey;
			vertical-align: bottom;
			border-bottom: 1px solid $color-lightgrey;
			display: -webkit-flex;
			display: 		flex;
			-webkit-align-items: space-between;
         	justify-content: space-between;
         	&:hover {
			background-color: $color-lightgrey;
			}
		}
		tr {
		display: -webkit-flex;
			display: 		flex;
			-webkit-align-items: space-between;
         	justify-content: space-between;
		padding: 5px;
		}
}

.col-sm-1 {
  		flex: 0 0 8.33333%;
  		max-width: 8.33333%;
	}
	.col-sm-2 {
  		flex: 0 0 16.66667%;
  		max-width: 16.66667%;
	}
	.col-sm-3 {
  		flex: 0 0 25%;
  		max-width: 25%;
	}
	.col-sm-4 {
  		flex: 0 0 33.33333%;
  		max-width: 33.33333%;
	}
	.col-sm-5 {
  		flex: 0 0 41.66667%;
  		max-width: 41.66667%;
	}
	.col-sm-6 {
  		flex: 0 0 50%;
  		max-width: 50%;
	}
	.col-sm-7 {
  		flex: 0 0 58.33333%;
  		max-width: 58.33333%;
	}
	.col-sm-8 {
  		flex: 0 0 66.66667%;
  		max-width: 66.66667%;
	}
	.col-sm-9 {
  		flex: 0 0 75%;
  		max-width: 75%;
	}
	.col-sm-10 {
  		flex: 0 0 83.33333%;
  		max-width: 83.33333%;
	}
	.col-sm-11 {
  		flex: 0 0 91.66667%;
  		max-width: 91.66667%;
	}
	.col-sm-12 {
  		flex: 0 0 100%;
  		max-width: 100%;
	}
	@for $i from 1 through 12 {
  		.col-sm-#{$i} {
    		$width: 100% / 12 * $i;
    		flex: 0 0 $width;
    		max-width: $width;
  		}
	}
	@mixin grid($prefix) {
		@for $i from 1 through 12 {
    		.col-sm-#{$prefix}-#{$i} {
      			$width: 100% / 12 * $i;
      			flex: 0 0 $width;
      			max-width: $width;
    		}
		}
}

.col-md-1 {
  		flex: 0 0 8.33333%;
  		max-width: 8.33333%;
	}
	.col-md-2 {
  		flex: 0 0 16.66667%;
  		max-width: 16.66667%;
	}
	.col-md-3 {
  		flex: 0 0 25%;
  		max-width: 25%;
	}
	.col-md-4 {
  		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
	.col-md-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}
	.col-md-6 {
  		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-md-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}
	.col-md-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}
	.col-md-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-md-10 {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}
	.col-md-11 {
		flex: 0 0 91.66667%;
		max-width: 91.66667%;
	}
	.col-md-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	@for $i from 1 through 12 {
  		.col-md-#{$i} {
    		$width: 100% / 12 * $i;
    		flex: 0 0 $width;
    		max-width: $width;
  		}
	}
	@mixin grid($prefix) {
		@for $i from 1 through 12 {
    		.col-#{$prefix}-#{$i} {
      			$width: 100% / 12 * $i;
      			flex: 0 0 $width;
      			max-width: $width;
    		}
  		}
	}

.col-lg-1 {
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}
	.col-lg-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}
	.col-lg-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-lg-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
	.col-lg-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}
	.col-lg-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-lg-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}
	.col-lg-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}
	.col-lg-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-lg-10 {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}
	.col-lg-11 {
		flex: 0 0 91.66667%;
		max-width: 91.66667%;
	}
	.col-lg-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	@for $i from 1 through 12 {
		col-lg-#{$i} {
    		$width: 100% / 12 * $i;
    		flex: 0 0 $width;
    		max-width: $width;
  		}
	}
	@mixin grid($prefix) {
		@for $i from 1 through 12 {
    		.col-#{$prefix}-#{$i} {
      			$width: 100% / 12 * $i;
    			flex: 0 0 $width;
    			max-width: $width;
    		}
		}
	}

	.col-xl-1 {
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}
	.col-xl-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}
	.col-xl-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-xl-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
	.col-xl-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}
	.col-xl-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-xl-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}
	.col-xl-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}
	.col-xl-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-xl-10 {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}
	.col-xl-11 {
		flex: 0 0 91.66667%;
		max-width: 91.66667%;
	}
	.col-xl-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	@for $i from 1 through 12 {
		.col-xl-#{$i} {
    		$width: 100% / 12 * $i;
    		flex: 0 0 $width;
    		max-width: $width;
  		}
	}
	@mixin grid($prefix) {
		@for $i from 1 through 12 {
    		.col-#{$prefix}-#{$i} {
      			$width: 100% / 12 * $i;
      			flex: 0 0 $width;
    			max-width: $width;
    		}
  		}
	}


@media (max-width: 767px) {
	@include grid('sm');
	body {
		font-size: 1.2em;
		max-width: 767px;
	}
	.container-fluid {
		width: 100%;
		max-width: 767px;
		margin: 0;
	}
	.topbar {
    	margin-bottom: 10px;
    	display: inline-block;
    	width: 100%;
	}
	#sidebar {
		display: none;
		text-align: center;
	}
	.nav {
		display: none;
		text-align: center;
		&.show{display: block;}
		ul {
			display: block;
			text-align: center;
			float: none;
			width: 65%;
		}
		ul li {
			display: block;
			text-alig: center;
			margin-left: 62%;
			margin-right: 62%;
			&:hover {
				display: none;
			}
		}
		ul li a {
			display: block;
			&:hover {
				display: none;
			}
		}
		ul ul li {
			&:hover:before {
				display: none;
			}
		}
		ul li h1 {
			display: block;
			text-align: center;
			float: none;
		}
		ul ul li svg {
			display: block;
			text-align: center;
			float: none;
			&:hover {
				display: none;
			}
		}
		li ul {
			text-align: center;
			display: block;
			float: none;
		}
	}
	.hamburger {
		display: block;
	}
	.manager {
		display: block;
		text-align: center;
	}
	.name {
		display: block;
		text-align: center;
	}
	.wallet {
		display: block;
	}
	.profile {
		display: block;
	}
	.notification {
		display: block;
	}
	.quit {
		display: block;
	}
	.general {
		display: block;
		width: 100%;
		padding: 0 20px;
		margin-left: 0;
		height: 180vh;
	}
	.links {
		display: block;
		width: 100%;
		padding: 0 20px;
		height: 120vh;
	}
	#scroll-links {
		table {
			tr {
				height: 6vh;
				width: 120%;
			}
		}
	}
	#scroll-banners {
		table {
			tr {
				height: 7vh;
				width: 120%;
			}
		}
	}
	.timeline {
		display: block;
	}
	.signups {
		display: block;
		&:hover {
			display: none;
		}
	}
	.ftd {
		display: block;
		margin: 15px;
	}
	.earned {
		display: block;
	}
	.calendar2 {
		float: none;
	}
	.addnew {
		float: none;
		display: block;
		&:hover {
			display: none;
		}
	}
	.addnew2 {
		display: block;
		float: none;
		&:hover {
			display: none;
		}
	}
	ul.pagination {
		margin-left: 0px;
		display: block;
	}
	ul.pagination li a {
		float: none;
	}
	.banners {
		width: 100%;
		height: 100vh;
	}
	.detailsta {
		width: 100%;
		height: 140vh;
	}
	.payouthis {
		width: 100%;
		height: 140vh;
	}
	.formdata {
		width: 100%;
	}
	[class*="col-"] {
    	width: 100%;
    	height: 150px;
    	padding: 12px;
    	float: left;
    }
	.scroll-wrapper {
  		display: block;
  		overflow-x: auto;
  		width: 100%;
  			table {
  			width: 100%;
  			max-width: 100%;
  			tr {
  				&:hover {
  					display: none;
  				}
  			}
  		}
  	}
	.scroll-wrapper ul {
  		width: 100%;
  		max-width: 100%;
	}
	label {
	width: 400px;
	margin-left: 0px;
	display: -webkit-flex;
  	display:         flex;
  	-webkit-align-items: center;
          align-items: center;
  	-webkit-justify-content: flex-end;
          justify-content: flex-end;
	}
}

@media(min-width: 768px) and (max-width: 991px) {
  	@include grid('md');
}

@media(min-width: 992px) and (max-width: 1199px) {
	@include grid('lg');
	
}

@media(min-width: 1200px) {
	@include grid('xl');
	.container-fluid {
		max-width: 1200px;
		margin: 0 auto;
	}
	.nav {
		text-align: center;
		width: 100%;
		ul li {
			display: inline-block;
		}
		ul li a {
			float: right;
			display: inline-block;
			&:hover {
				text-align: center;
				float: right;
				display: inline-block;
			}
		}
	}
}
