/*Colors*/
$color-black: #333333;
$color-darkgrey: #979797;
$color-lightgrey: #d9d9d9;
$color-lightergray: #E3E3E3;
$color-beige: #F5F5F2;
$color-darkorange: #F58220;
$color-lightorange: #FFA200;
$color-green: #04AE00;
$color-blue: #56819F;

/* Font sizes */
$paragraph-font-size: 16px;

/*Fonts*/
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
